<h2 class="panel-header">Endocrine System</h2>

<div class="panel-stat">
  <div class="panel-stat-primary">
    <button class="panel-stat-button" {{action "createTestosterone"}} disabled={{testosteroneDisabled}}>Testosterone</button>
    <span class="panel-stat-amount">{{weight-measurement data.endocrine.testosterone}}</span>
  </div>
  <div class="panel-stat-secondary">
    Cost: {{weight-measurement testosteroneCost}} Fat
  </div>
</div>
