<h2 class="panel-header">Endocrine System</h2>

{{panel-stat-button
  name="testosterone"
  unit="weight"
  resource=data.endocrine.testosterone
  costs=testosteroneCosts
  createResource=createResource
}}

<hr>

{{panel-stat-button-factory
  name="testosterone factory"
  resource=data.endocrine.testosterone
  costs=testosteroneFactoryCosts
  resourceCosts=testosteroneCosts
  createResource=createResource
}}
