<div class="panel-stat">
  <div>
    <button {{action "createTestosterone"}} disabled={{testosteroneDisabled}}>Testosterone</button>
    {{weight-measurement data.endocrine.testosterone}}
  </div>
  Cost: {{weight-measurement testosteroneCost}}
</div>
