<h2 class="panel-header">Fertility</h2>

{{panel-stat-button
  name="sperm"
  unit="weight"
  resource=data.fertility.sperm
  costs=spermCosts
  createResource=createResource
}}

<hr>

{{panel-stat-button-factory
  name="sperm factory"
  resource=data.fertility.sperm
  costs=spermFactoryCosts
  resourceCosts=spermCosts
  createResource=createResource
}}
