{{#if false}}
<div class="player-avatar-canvas">
  {{avatar-canvas data=data}}
</div>
{{/if}}

<div class="content">
  {{panels-section
    columns=data.columns
    data=data
    createResource=(action "createResource")
    destroyResource=(action "destroyResource")
    lockResource=(action "lockResource")
    unlockResource=(action "unlockResource")
  }}

  {{message-box
    messages=data.messages
  }}
</div>
