<div class="player-avatar-canvas">
  {{avatar-canvas data=data}}
</div>

<div class="content">
  {{panels-section
    panels=data.panels
    data=data
  }}

  {{message-box
    messages=data
  }}
</div>
