<h2 class="panel-header">Mood</h2>

{{panel-stat-button
  name="arousal"
  unit="percent"
  resource=data.mood.arousal
  costs=arousalCosts
  createResource=createResource
}}

<hr>

{{panel-stat-button-factory
  name="arousal factory"
  resource=data.mood.arousal
  costs=arousalFactoryCosts
  resourceCosts=arousalCosts
  createResource=createResource
}}
