{{#each panels as |panel|}}
  {{#if panel.unlocked}}
    {{#if panel.panels}}
      <div class="panel-column">
        {{panels-section
          data=data
          panels=panel.panels
          tagName=""
          createResource=createResource
          destroyResource=destroyResource
          lockResource=lockResource
          unlockResource=unlockResource
        }}
      </div>
    {{else}}
      {{panel-component
        title=panel.title
        category=panel.path
        data=data
        createResource=createResource
        destroyResource=destroyResource
        lockResource=lockResource
        unlockResource=unlockResource
      }}
    {{/if}}
  {{/if}}
{{/each}}
