{{#each-in columns as |key column|}}
  {{#if column.unlocked}}
    <div class="panel-column">
      {{#each-in column.panels as |key panel|}}
        {{#if panel.unlocked}}
          {{panel-component
            title=panel.title
            category=key
            data=data
            createResource=createResource
            destroyResource=destroyResource
            lockResource=lockResource
            unlockResource=unlockResource
          }}
        {{/if}}
      {{/each-in}}
    </div>
  {{/if}}
{{/each-in}}
