{{#each-in columns as |key column|}}
  {{#if (or column.unlocked data.debugging)}}
    <div class="{{if column.classNames column.classNames 'panel-column'}}">
      {{#each-in column.panels as |key panel|}}
        {{#if (or panel.unlocked data.debugging)}}
          <div class="{{if panel.classNames panel.classNames 'panel'}}">
            {{panel-component
              title=panel.title
              category=key
              data=data
              createResource=createResource
              destroyResource=destroyResource
              lockResource=lockResource
              unlockResource=unlockResource
              payResourceCost=payResourceCost
            }}
          </div>
        {{/if}}
      {{/each-in}}
    </div>
  {{/if}}
{{/each-in}}
