{{#each panels as |panel|}}
  {{#if panel.panels}}
    <div class="panel-column">
      {{panels-section
        data=data
        panels=panel.panels
        tagName=""
      }}
    </div>
  {{else}}
    {{panel-component
      title=panel.title
      category=panel.path
      data=data
      createResource=(action "createResource")
      destroyResource=(action "destroyResource")
    }}
  {{/if}}
{{/each}}
