<h2 class="panel-header">{{title}}</h2>

{{#each resources as |resource|}}
  {{#if resource.unlocked}}
    <div class="panel-stat-group">
      {{panel-stat-button
        resource=resource
        costs=resource.costs
        createResource=createResource
      }}

      {{panel-stat-button-factory
        resource=resource
        createResource=createResource
      }}
    </div>
  {{/if}}
{{/each}}
