<div class="panel-stat-primary">
  <span class="panel-stat-type">{{resource.name}}:</span> <span class="panel-stat-amount">{{measurement-unit amount=resource.amount unit=resource.unit}}</span>
</div>
