<h2 class="panel-header">Reproductive Imperative (RI)</h2>

<div class="panel-stat">
  <div class="panel-stat-primary">
    <span class="panel-stat-type">RI:</span> <span class="panel-stat-amount">{{data.ri.ri}}</span>
  </div>
</div>

<div class="panel-stat">
  <div class="panel-stat-primary">
    <span class="panel-stat-type">children:</span> <span class="panel-stat-amount">{{data.ri.children}}{{#if data.ri.childrenUncertain}}?{{/if}}</span>
  </div>
</div>
