<div>attraction to encounter: {{to-fixed attraction}}%</div>
<div>encounter attraction to you: {{to-fixed theirAttraction}}%</div>

<button {{action "attract"}}>attract</button>
<button {{action "repulse"}}>repulse</button>
