html {
  overflow: hidden;
}

body {
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-grow: 1;
}

.player-avatar-canvas {
  min-width: 33%;
}


.avatar-canvas {
  height: 100%;
  width: 100%;
}

.panels {
  flex-grow: 1;
}
