html {
  overflow: hidden;
}

body {
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.top-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: thin solid #333;
}

.top-bar-title {
  margin: 0;
  margin-right: auto;
}

.main {
  display: flex;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.player-avatar-canvas {
}


.avatar-canvas {
  height: 100%;
  width: 100%;
}

.panels {
  display: flex;
  flex-grow: 1;
}

.panels .panel-column:first-child {
  margin-left: 10px;
}

.panel-column {
  flex-grow: 1;
  margin-right: 10px;
}

.panel {
  margin: 10px 0;
  padding: 10px;
  border: thin solid #333;
}

.panel-header {
  margin: 0 0 10px;
}

.panel-stat-group {
  border-bottom: thin solid #333;
  margin-bottom: 10px;
}

.panel .panel-stat-group:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.panel-stat {
  margin-bottom: 5px;
}

.panel-stat-secondary {
  margin-top: 2px;
  font-size: 90%;
}

.message-box {
  flex-shrink: 0;
  height: 200px;
  padding: 10px;
  border-top: thin solid #333;
  overflow: hidden;
}

.message-box .message:first-child {
  font-weight: bold;
}
