<div class="player-avatar-canvas">
  {{avatar-canvas avatar=model.gameData.player}}
</div>

<div class="panels">
  <div class="panel-column">
    {{endocrine-panel data=model.gameData}}
  </div>

  <div class="panel-column">
    {{nutrient-panel data=model.gameData}}
  </div>
</div>
